<h2 class="breakfast">朝ごはん入力</h2>
<%= form_with model: @post, local: true do |form| %>
  <table class="field row">
    <div>
      <%= form.label :title, "タイトル" %>
      <p><%= form.text_field :title %></p>
    </div>
    <div>
      <%= form.label :image, "写真" %>
      <p><%= form.file_field :image, :accept => 'image/*' %></p>
    </div>
    <div>
      <%= form.label :content, "レシピ・メモ" %>
      <p><%= form.text_area :content %></p>
    </div>
    <div>
      <%= form.label :start_time, "記録日" %>
      <p><%= form.date_field :start_time %></p>
    </div>
    <div>
      <%= form.submit button_value %>
    </div>
  </table>
<% end %>
