<div class="breakfast">朝食入力</div>
  <%= form_with model: @post, local: true do |form| %>
    <table class="table">
      <div>
        <%= form.label :title, "タイトル" %>
        <%= form.text_field :title %>
      </div
      <br>
      <div>
        <%= form.file_field :image, :accept => 'image/*' %>
      </div
      <br>
      <div>
        <%= form.text_area :content %>
      </div
      <br>
      <div>
        <%= form.label :start_time, "記録日" %>
        <%= form.date_field :start_time %>
      </div>
      <div>
        <%= form.submit button_value %>
      </div>
    </table>
  <% end %>