<%= form_with model: @post, local: true do |form| %>
  <div>
    <label><%= form.text_field :title, :placeholder => "タイトル" %></label>
  </div>
  <div class="imagebutton">
    <label class="sized"><%= form.file_field :image, :accept => 'image/*' %></label>
  </div>
  <div class="actions row">
    <p><%= form.text_area :content, :placeholder => "レシピ・メモ" %></p>
  </div>
  <div>
    <%= form.label :start_time, "記録日" %>
    <p><%= form.date_field :start_time %></p>
  </div>
  <div class="formbutton">
    <div class="btns submit">
      <%= form.submit button_value %>
    </div>
  </div>
<% end %>
