<%= render "layouts/navber" %>

<br><br><br><br><br><br>

<div class="container">
  <h2 class="section-top"><span class="fas fa-dumbbell" aria-hidden="true"></span>朝ごはん記録</h2>
  <div class="row">
    <div>
      <%= render "form", button_value: "投稿" %>
    </div>
    <div>
      <%= month_calendar events: @posts do |date,posts| %>
        <%= date.day %>
        <% posts.each do |post| %>
          <div class="title-font">
            <%= link_to post.title, post %>
          </div>
          <p id="post-<%= post.id %>">
            <% if user_signed_in? && current_user == post.user %>
              <% if post.completed_by?(current_user) %>
                <%= render 'users/completed', post: post %>
              <% else %>
                <%= render 'users/incompleted', post: post %>
              <% end %>
            <% end %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
