<%= render "layouts/navber" %>

<br><br><br><br>
<div class="container-fluid">
  <h2 class="section-top"><span class="fas fa-dumbbell" aria-hidden="true"></span>MYトレーニングメモ</h2>
  <div class="col-md-3 col-sm-12 col-xs-12">
    <%= render "form", button_value: "投稿" %>
  </div>
  <div class="col-md-9 col-sm-12 col-xs-12">
    <%= month_calendar events: @posts do |date,posts| %>
      <%= date.day %>
      <% posts.each do |post| %>
        <div>
          <%= link_to post.title, post %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
