<%= render "layouts/navber" %>

<br><br><br><br><br><br>

<div class="container">
  <h2 class="section-top"><span class="fas fa-dumbbell" aria-hidden="true"></span>朝ごはん記録</h2>
  <div class="row">
    <div>
      <%= render "form", button_value: "投稿" %>
    </div>
    <div>
      <%= month_calendar events: @posts do |date,posts| %>
        <%= date.day %>
        <% posts.each do |post| %>
          <div>
            <%= link_to post.title, post %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
