<!DOCTYPE html>
<html>
  <head>
    <title>BreakyApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script
      type="text/javascript"
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"
    ></script>
    <script type="text/javascript" src="./footerFixed.js"></script>
  </head>

  <body>
    <div id="container">
      <%= render "layouts/flash" %>
      <%= yield %>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
